SRC-PORTAL/ExlCSR.BusinessLayer/Service References/GetPolicyServiceRefrence/ExlLifeProService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ACORD.org/Standards/Life/2/" elementFormDefault="qualified" targetNamespace="http://ACORD.org/Standards/Life/2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExlLifePRORESTRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRequest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExlLifePRORESTRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExlLifePRORESTRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>